<a href="https://colab.research.google.com/github/saikale/Deck/blob/main/GramworkX_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing/Sourcing Expenses Dataset**

In [1]:
#importing necessary libraries for analysis
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Reading dataset
df=pd.read_csv("/content/Expenses - Sheet1.csv")

#Display/Print the data
df

      age     sex     bmi  children smoker     region    charges
0      19  female  27.900         0    yes  southwest  16884.920
1      18    male  33.770         1     no  southeast   1725.552
2      28    male  33.000         3     no  southeast   4449.462
3      33    male  22.705         0     no  northwest  21984.470
4      32    male  28.880         0     no  northwest   3866.855
...   ...     ...     ...       ...    ...        ...        ...
1333   50    male  30.970         3     no  northwest  10600.550
1334   18  female  31.920         0     no  northeast   2205.981
1335   18  female  36.850         0     no  southeast   1629.834
1336   21  female  25.800         0     no  southwest   2007.945
1337   61  female  29.070         0    yes  northwest  29141.360

[1338 rows x 7 columns]