<a href="https://colab.research.google.com/github/saikale/Deck/blob/main/Real_estate_Project3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/content/Bengaluru_House_Data.csv')

In [3]:
#returns data of first n rows 
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
#returns no. of elements(no. of rows nd columns)
data.shape

(13320, 9)

In [5]:
#provides short summary of the df
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
#gives no.of values of one kind for a particular column 
for column in data.columns:
  print(data[column].value_counts())
  print("-"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
--------------------
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
--------------------
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
--------------------
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
--------------------
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
--------------------
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
--------------------
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
--------------------
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
--------------------
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
--------------------

In [7]:
#number of null values of each column
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
#dropped the unnecesarry columns and 'inplace' updated the values
#data.drop(columns=['area_type','availability'],inplace=True)

In [9]:
#data.drop(columns=['society'],inplace=True)
data.drop(columns=['balcony'],inplace=True)

In [10]:
data

,area_type,availability,location,size,society,total_sqft,bath,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,51.00
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,17.00

In [11]:
#gives mean,std deviation and then quartiles of bath column
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(2), object(6)
memory usage: 832.6+ KB

In [13]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [14]:
#filling one loc in the only one missing value in location column
data['location']=data['location'].fillna('Sarjapur Road')

In [15]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [16]:
data['size']=data['size'].fillna('2 BHK')

In [17]:
data['bath'].value_counts()

2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64

In [18]:
data['bath']=data['bath'].fillna(data['bath'].median())

In [19]:
#There are no null values now
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13320 non-null  object
 3   size          13320 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13320 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(2), object(6)
memory usage: 832.6+ KB

In [20]:
#takes bhk from size and first splits it wrt space and then astype converts it to int type
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [21]:
data[data.bhk>20]

,area_type,availability,location,size,society,total_sqft,bath,price,bhk
1718,Super built-up Area,Ready To Move,2Electronic City Phase II,27 BHK,NaN,8000,27.0,230.0,27
4684,Plot Area,Ready To Move,Munnekollal,43 Bedroom,NaN,2400,40.0,660.0,43

In [22]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [23]:
def convertRange(x):
  temp=x.split('-')
  if len(temp)==2:
    return(float(temp[0])+float(temp[1]))/2
    try:
      return float(x)
    except:
        return None

In [24]:
data['total_sqft']=data['total_sqft'].apply(convertRange)

In [25]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,NaN,2.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,NaN,5.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,NaN,2.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,NaN,3.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,NaN,2.0,51.00,2

**Price Per Square Feet**

In [26]:
data['price_per_sqft']=data['price']*100000/data['total_sqft']

In [27]:
data['price_per_sqft']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
13315   NaN
13316   NaN
13317   NaN
13318   NaN
13319   NaN
Name: price_per_sqft, Length: 13320, dtype: float64

In [28]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [29]:
data.describe()

        total_sqft          bath         price           bhk  price_per_sqft
count   201.000000  13320.000000  13320.000000  13320.000000      201.000000
mean   1864.316343      2.688814    112.565627      2.802778     5169.380100
std    1199.132170      1.338754    148.971674      1.294496     1762.098559
min     412.500000      1.000000      8.000000      1.000000      850.000000
25%     975.000000      2.000000     50.000000      2.000000     4298.571429
50%    1495.000000      2.000000     72.000000      3.000000     4900.000000
75%    2630.000000      3.000000    120.000000      3.000000     5650.396825
max    5667.500000     40.000000   3600.000000     43.000000    12494.669510

In [30]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Uvce Layout                         1
Abshot Layout                       1
Name: location, Length: 1306, dtype: int64

In [31]:
data['location']=data['location'].apply(lambda x:x.strip())
location_count=data['location'].value_counts()

In [32]:
location_count

Whitefield                            541
Sarjapur  Road                        399
Electronic City                       304
Kanakpura Road                        273
Thanisandra                           237
                                     ...
1Channasandra                           1
Hosahalli                               1
Vijayabank bank layout                  1
near Ramanashree California resort      1
Abshot Layout                           1
Name: location, Length: 1295, dtype: int64

In [33]:
location_count_less_than_10=location_count[location_count<=10]
location_count_less_than_10

BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: location, Length: 1054, dtype: int64

In [34]:
data['location']=data['location'].apply(lambda x:'Other'if x in location_count_less_than_10 else x)

In [35]:
data['location'].value_counts()

Other                 2886
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

**Outlier detection and removal**

In [36]:
data.describe()

        total_sqft          bath         price           bhk  price_per_sqft
count   201.000000  13320.000000  13320.000000  13320.000000      201.000000
mean   1864.316343      2.688814    112.565627      2.802778     5169.380100
std    1199.132170      1.338754    148.971674      1.294496     1762.098559
min     412.500000      1.000000      8.000000      1.000000      850.000000
25%     975.000000      2.000000     50.000000      2.000000     4298.571429
50%    1495.000000      2.000000     72.000000      3.000000     4900.000000
75%    2630.000000      3.000000    120.000000      3.000000     5650.396825
max    5667.500000     40.000000   3600.000000     43.000000    12494.669510

In [37]:
(data['total_sqft']/data['bhk']).describe()

count     201.000000
mean      693.444440
std       227.125092
min       343.662500
25%       544.500000
50%       651.250000
75%       790.500000
max      1908.500000
dtype: float64

In [38]:
data=data[((data['total_sqft']/data['bhk'])>=300)]
data.describe()

        total_sqft        bath       price         bhk  price_per_sqft
count   201.000000  201.000000  201.000000  201.000000      201.000000
mean   1864.316343    2.442786  107.589527    2.611940     5169.380100
std    1199.132170    1.366733  102.047653    1.143965     1762.098559
min     412.500000    1.000000   12.750000    1.000000      850.000000
25%     975.000000    2.000000   40.700000    2.000000     4298.571429
50%    1495.000000    2.000000   66.165000    3.000000     4900.000000
75%    2630.000000    3.000000  142.000000    4.000000     5650.396825
max    5667.500000    7.000000  548.500000    5.000000    12494.669510

In [39]:
data.shape

(201, 10)

In [40]:
data.price_per_sqft.describe()

count      201.000000
mean      5169.380100
std       1762.098559
min        850.000000
25%       4298.571429
50%       4900.000000
75%       5650.396825
max      12494.669510
Name: price_per_sqft, dtype: float64

In [41]:
def remove_outliers_sqft(df):
  df_output=pd.DataFrame()
  for key,subdf in df.groupby('location'):
    m=np.mean(subdf.price_per_sqft)
    st=np.std(subdf.price_per_sqft)
    gen_df=subdf[(subdf.price_per_sqft>(m-st))&(subdf.price_per_sqft<=(m+st))]
    df_output=pd.concat([df_output,gen_df],ignore_index=True)
  return df_output
data=remove_outliers_sqft(data)
data.describe()

        total_sqft        bath       price         bhk  price_per_sqft
count   126.000000  126.000000  126.000000  126.000000      126.000000
mean   1770.129048    2.500000   95.445833    2.571429     4981.565146
std    1114.450885    1.429685   83.982930    1.120204     1310.764905
min     458.000000    1.000000   13.260000    1.000000     1650.000000
25%     981.250000    2.000000   41.882500    2.000000     4339.837450
50%    1440.750000    2.000000   64.512500    3.000000     4845.008069
75%    2328.000000    3.000000  120.472500    3.000000     5399.259758
max    5611.500000    7.000000  477.000000    5.000000    11993.219381

In [42]:
def bhk_outlier_remover(df):
  exclude_indices=np.array([])
  for location,location_df in df.groupby('location'):
    bhk_stats=()
    for bhk,bhk_df in location_df.groupby('bhk'):
      bhk_stats[bhk]={
          'mean':np.mean(bhk_df.price_per_sqft),
          'std':np.std(bhk_df.price_per_sqft),
          'count':bhk_df.shape[0]
      }
      print(location,bhk_stats)
    for bhk,bhk_df in location_df.groupby('bhk'):
        stats=bhk_stats.get(bhk-1)
        if stats and stats['count']>5:
            exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
  return df.drop(exclude_indices,axis='index')

In [43]:
data

,area_type,availability,location,size,society,total_sqft,bath,price,bhk,price_per_sqft
0,Super built-up Area,19-Mar,8th Phase JP Nagar,2 BHK,Vaarech,1073.5,2.0,54.005,2,5030.740568
1,Super built-up Area,19-Mar,8th Phase JP Nagar,3 BHK,Vaarech,1431.5,3.0,72.020,3,5031.086273
2,Super built-up Area,20-Jan,Balagere,1 BHK,Soresea,790.5,1.0,42.295,1,5350.411132
3,Super built-up Area,20-Dec,Banashankari Stage VI,2 BHK,Brens7,1177.5,2.0,59.935,2,5090.021231
4,Super built-up Area,22-Dec,Bannerghatta Road,2 BHK,PrarePa,1122.5,2.0,58.935,2,5250.334076
...,...,...,...,...,...,...,...,...,...,...
121,Super built-up Area,19-Aug,Yelahanka,2 BHK,SMllay,1405.0,2.0,50.580,2,3600.000000
122,Super built-up Area,19-Dec,Yelahanka,1 BHK,Goues A,827.5,1.0,42.535,1,5140.181269
123,Super built-up Area,Ready To Move,Yelahanka,2 BHK,Neite T,1195.0,2.0,53.105,2,4443.933054
124,Super built-up Area,Ready To Move,Yeshwanthpur,2 BHK,VSlistr,717.0,2.0,49.475,2,6900.278940
125,Super built-up Area,Ready To Move,Yeshwanthpur,1 BHK,VSlistr,605.0,1.0,41.745,1,6900.000000

In [44]:
data.drop(columns=['size'],inplace=True)

**Cleaned Data**

In [45]:
data.head()

,area_type,availability,location,society,total_sqft,bath,price,bhk,price_per_sqft
0,Super built-up Area,19-Mar,8th Phase JP Nagar,Vaarech,1073.5,2.0,54.005,2,5030.740568
1,Super built-up Area,19-Mar,8th Phase JP Nagar,Vaarech,1431.5,3.0,72.020,3,5031.086273
2,Super built-up Area,20-Jan,Balagere,Soresea,790.5,1.0,42.295,1,5350.411132
3,Super built-up Area,20-Dec,Banashankari Stage VI,Brens7,1177.5,2.0,59.935,2,5090.021231
4,Super built-up Area,22-Dec,Bannerghatta Road,PrarePa,1122.5,2.0,58.935,2,5250.334076

In [46]:
data

,area_type,availability,location,society,total_sqft,bath,price,bhk,price_per_sqft
0,Super built-up Area,19-Mar,8th Phase JP Nagar,Vaarech,1073.5,2.0,54.005,2,5030.740568
1,Super built-up Area,19-Mar,8th Phase JP Nagar,Vaarech,1431.5,3.0,72.020,3,5031.086273
2,Super built-up Area,20-Jan,Balagere,Soresea,790.5,1.0,42.295,1,5350.411132
3,Super built-up Area,20-Dec,Banashankari Stage VI,Brens7,1177.5,2.0,59.935,2,5090.021231
4,Super built-up Area,22-Dec,Bannerghatta Road,PrarePa,1122.5,2.0,58.935,2,5250.334076
...,...,...,...,...,...,...,...,...,...
121,Super built-up Area,19-Aug,Yelahanka,SMllay,1405.0,2.0,50.580,2,3600.000000
122,Super built-up Area,19-Dec,Yelahanka,Goues A,827.5,1.0,42.535,1,5140.181269
123,Super built-up Area,Ready To Move,Yelahanka,Neite T,1195.0,2.0,53.105,2,4443.933054
124,Super built-up Area,Ready To Move,Yeshwanthpur,VSlistr,717.0,2.0,49.475,2,6900.278940
125,Super built-up Area,Ready To Move,Yeshwanthpur,VSlistr,605.0,1.0,41.745,1,6900.000000

In [47]:
data.to_csv('Cleaned_Data.csv')

In [48]:
X=data.drop(columns=['price'])
y=data['price']

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import  make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [50]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [51]:
print(X_train.shape)
print(X_test.shape)

(100, 8)
(26, 8)

**Applying Linear Regression**

In [52]:
column_trans=make_column_transformer((OneHotEncoder(sparse=False),['location']),remainder='passthrough')

In [53]:
scaler=StandardScaler()

In [54]:
lr=LinearRegression(normalize=True)

In [55]:
pipe=make_pipeline(column_trans,scaler,lr)

In [57]:
pipe.fit(X_train,y_train)

ValueError: ignored

In [58]:
y_pred_lr=pipe.predict(X_test)

ValueError: ignored

In [ ]:
r2_score(y_test,y_pred_lr)

**Applying Lasso**

In [59]:
lasso=Lasso()

In [60]:
pipe=make_pipeline(column_trans,scaler,lasso)

In [61]:
pipe.fit(X_train,y_train)

ValueError: ignored

In [ ]:
y_pred_lasso=pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

**Applying Ridge**

In [ ]:
ridge=Ridge()

In [ ]:
pipe=make_pipeline(column_trans,scaler,ridge)

In [ ]:
pipe.fit(X_train,y_train)

In [ ]:
y_pred_ridge=pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

In [ ]:
print("No regularization: ",r2_score(y_test,y_pred))
print("Lasso :",r2_score(y_test,y_pred_lasso))
print("Ridge: ",r2_score(y_test,y_pred_ridge))

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('RidgeModel.pk1','wb'))